/**
 * Custom AOS Animations
 *
 * Custom animations extending the AOS library
 */

/**
 * Zoom from half animation
 * Zooms element from scale(0.5) to scale(1)
 */

[data-aos='zoom-from-half'] {
  opacity: 0;
  transform: scale(0.5) translateY(-50px);
  transition-property: opacity, transform;
  

  &.aos-animate {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
