.hoversLinesColumns {
    @apply relative z-20 p-20 lg:p-50;
    svg {
        path {
            @apply transition-all duration-300 ease-in-out;
        }
    }
    &__left {
        @apply lg:ml-104;
    }
    &__right {
        @apply lg:mr-104;
    }
    
    .before_line {
        @apply absolute size-full inset-0 z-10;
        &:before {
            content: '';
            @apply absolute h-1 w-[calc(100%-0.9375rem)] lg:w-[calc(100%-0.260416rem)] bg-color-3;
            @apply rounded-full;
        }
        &:after {
            content: '';
            @apply absolute h-[calc(100%-0.9375rem)] lg:h-[calc(100%-0.260416rem)] w-1 bg-color-3;

        }
    }
    .after_line {
        @apply absolute size-full inset-0 z-10;
        &:before {
            content: '';
            @apply absolute h-1 w-[calc(100%-0.9375rem)] lg:w-[calc(100%-0.260416rem)] bg-color-2 pl-20 lg:pl-50;
            @apply transition-all duration-300 ease-in-out;
        }
        &:after {
            content: '';
            @apply absolute h-[calc(100%-0.9375rem)] lg:h-[calc(100%-0.260416rem)] w-1 bg-color-2;
            @apply transition-all duration-300 ease-in-out;

        }
    }
    
    &:hover {
        svg.svg-fill {
            path {
                @apply fill-color-3;
            }
        }
        svg.svg-stroke {
            path {
                @apply stroke-color-3;
            }
        }
        svg.svg-mixed {
            path {
                @apply stroke-color-3;
            }
        }
        .after_line {
            
            &:before {
                @apply w-full bg-color-3;
            }
            &:after {
                @apply h-full bg-color-3;
    
            }
        }
    }
    &__left--first {
        .before_line {
           
            &:before {
               @apply left-0 top-0;
            }
            &:after {
               @apply left-0 top-0;
    
            }
        }
        .after_line {
           
            &:before {
                @apply bottom-0 right-0;
            }
            &:after {
               
                @apply bottom-0 right-0
            }
        }
    }
    &__left--second {
        .before_line {
           
            &:before {
               @apply bottom-0 left-0;
            }
            &:after {
               @apply bottom-0 left-0;
    
            }
        }
        .after_line {
           
            &:before {
                @apply top-0 right-0;
            }
            &:after {
               
                @apply top-0 right-0;
            }
        }
       
    }
    &__right--first {
        .before_line {
           
            &:before {
                @apply top-0 right-0;
            }
            &:after {
               
                @apply top-0 right-0;
            }
        }
        .after_line {
           
            &:before {
                @apply bottom-0 left-0;
            }
            &:after {
               
                @apply bottom-0 left-0;
            }
        }
    }
    &__right--second {
        .before_line {
           
            &:before {
                @apply bottom-0 right-0;
            }
            &:after {
               
                @apply bottom-0 right-0;
            }
        }
        .after_line {
           
            &:before {
                @apply top-0 left-0;
            }
            &:after {
               
                @apply top-0 left-0;
            }
        }
    }
    &__left--30 { 
        @apply p-20 lg:p-30;
        .before_line {
            
            &:before {
                
                @apply w-[calc(100%-0.9375rem)] lg:w-[calc(100%-0.15625rem)];
            }
            &:after {
                
                @apply h-[calc(100%-0.9375rem)] lg:h-[calc(100%-0.15625rem)];
    
            }
        }
        .after_line {
            
            &:before {
                
                @apply w-[calc(100%-0.9375rem)] lg:w-[calc(100%-0.15625rem)];
            }
            &:after {
                
                @apply h-[calc(100%-0.9375rem)] lg:h-[calc(100%-0.15625rem)];
    
            }
        }
    }
}
.budownictwo {
    .steps {
        .step {
            @apply transition-all duration-500 ease-linear;
            .icon-circle {
                svg {
                    @apply transition-all duration-500 ease-in-out;
                    .circa {
                        @apply transition-all duration-500 ease-in-out;

                    }
                    path {
                        @apply transition-all duration-500 ease-in-out;
                    }
                }
            }
            .icon-inside {
                svg {
                    path {
                        @apply transition-all duration-500 ease-in-out;
                    }
                }
            }
            .after_line {
                @apply relative;
                &:after {
                    content: "";
                    @apply absolute h-1 w-full bg-color-2;
                    @apply transition-all duration-300 ease-in-out;
                }
                &:before {
                    content: "";
                    @apply absolute bottom-0 right-0 h-50 w-1 bg-color-2; 
                    @apply transition-all duration-300 ease-in-out;
                }
                
            }
            .text-digit {
                @apply text-color-3/30 transition-all duration-500 ease-in-out;
            }
            &.active {
                @apply lg:h-310;
                .text-digit {
                    @apply text-color-3;
                }
                .icon-circle {
                    svg {
                        @apply rotate-90;
                        .circa {
                            @apply fill-color-3;
    
                        }
                        path {
                            @apply fill-color-1;
                        }
                    }
                }
                .icon-inside {
                    svg.svg-fill {
                        path {
                            @apply fill-color-3;
                        }
                    }
                    svg.svg-stroke {
                        path {
                            @apply stroke-color-3;
                        }
                    }
                }
                
    
            }
        }
        
    }
}
.hoversGalleryBudownictwo {
    .item {
        &:after {
            content: "";
            @apply absolute z-20 -bottom-10 lg:-bottom-20 -right-10 lg:-right-20 h-1 w-0 bg-color-3;
            @apply transition-all duration-400 ease-linear;
             
        }
        &:before {
            content: "";
            @apply absolute z-10 -bottom-10 lg:-bottom-20 -right-10 lg:-right-20 h-0 w-1 bg-color-3; 
            @apply transition-all duration-300 ease-in-out;
        }
        &:hover {
            &:after {
                @apply w-full;
            }
            &:before {
                @apply h-full;
            }
        }
        &.active-scroll-hover {
            .gradient-black {
                @apply h-150;
            }
            .background-black {
                @apply opacity-0;
            }
            .image-normal {
                @apply opacity-100;
            }
            &:after {
                @apply w-full;
            }
            &:before {
                @apply h-full;
            }
        }
    }
    
}
.percents {
    .after_line {
        
        &:after {
            content: "";
            @apply absolute h-1 w-[calc(100%-0.625rem)]  lg:w-[calc(100%-0.15625rem)] bg-color-2 bottom-0 right-0;
            @apply transition-all duration-300 ease-in-out;
        }
        &:before {
            content: "";
            @apply absolute bottom-0 right-0 h-[calc(100%-0.625rem)] lg:h-[calc(100%-0.15625rem)] w-1 bg-color-2; 
            @apply transition-all duration-300 ease-in-out;
        }
    }
    .before_line {
        
        &:after {
            content: "";
            @apply absolute top-0 left-0 h-1 w-[calc(100%-0.625rem)]  lg:w-[calc(100%-0.15625rem)] bg-color-3;
            @apply transition-all duration-300 ease-in-out;
        }
        &:before {
            content: "";
            @apply absolute top-0 left-0 h-[calc(100%-0.625rem)] lg:h-[calc(100%-0.15625rem)] w-1 bg-color-3; 
            @apply transition-all duration-300 ease-in-out;
        }
    }
    .item {
        @apply bg-white;
        .additonal_bg {
            @apply opacity-0 transition-all duration-400 ease-in-out ;
        }
        &:hover {
            .additonal_bg {
                @apply opacity-100;
            }
            .before_line {
                &:after {
                    @apply w-full bg-color-5;
                }
                &:before {
                    @apply h-full bg-color-5;
                }
            }
            .after_line {
                &:after {
                    @apply w-full bg-color-5;
                }
                &:before {
                    @apply h-full bg-color-5;
                }
            }
        }
    }
}
.testimonialsHome {
   
    .left-swiper {
        @apply lg:pl-104;
        .author {
            @apply pl-20 lg:pl-50;
        }
    }
    .right-swiper {
        @apply pr-104;
        .author {
            @apply pl-20 lg:pl-50;
        }
    }
    &__wrapper {

        @apply flex flex-col justify-center;
    }
    &__text {
        @apply relative z-30;
        .before_line {
            @apply absolute size-full inset-0 z-10;
            &:before {
                content: '';
                @apply absolute h-1 w-[calc(100%-0.9375rem)] lg:w-[calc(100%-0.260416rem)] bg-color-3;
                @apply rounded-full;
            }
            &:after {
                content: '';
                @apply absolute h-[calc(100%-0.9375rem)] lg:h-[calc(100%-0.260416rem)] w-1 bg-color-3;
    
            }
        }
        .after_line {
            @apply absolute size-full inset-0 z-10;
            &:before {
                content: '';
                @apply absolute h-1 bottom-0 right-0 w-[calc(100%-0.9375rem)] lg:w-[calc(100%-0.260416rem)] bg-color-2 pl-20 lg:pl-50;
                @apply transition-all duration-300 ease-in-out;
            }
            &:after {
                content: '';
                @apply absolute -right-0 bottom-0 h-[calc(100%-0.9375rem)] lg:h-[calc(100%-0.260416rem)] w-1 bg-color-2;
                @apply transition-all duration-300 ease-in-out;
    
            }
        }
    }
    
}

