.btn {
  @apply transition-all duration-300 ease-in-out inline-flex items-center justify-center px-40 py-16 text-body rounded-full text-white;

  &--primary {
    @apply bg-color-2 text-white hover:opacity-70;
  }
  &--secondary {
    @apply bg-color-3 text-white hover:opacity-70;
  }
  &--white {
    @apply bg-white text-color-1 hover:opacity-70;
  }
  &--noshadow {
    @apply shadow-none;
  }

}
.link-underline {
  @apply transition-all duration-500 ease-power1-in relative;
  &:before {
    @apply content-[''] absolute left-0 bottom-2 w-0 h-2 bg-color-2 origin-left transition-all duration-500 ease-power1-in;
  }
  &:hover {
    @apply text-color-2;
    &:before {
      @apply w-full;
    }
  }
}